*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green: hsl(75, 94%, 57%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
  font-size: 100%;
  font-family: "Inter", sans-serif;
  color: white;
}
body {
  background-color: var(--grey900);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.personal-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 0.75rem;
  font-weight: 700;
}

.link-container {
  background-color: var(--grey800);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 350px;
  padding: 20px;
  gap: 20px;
  border-radius: 15px;
}
.location {
  color: var(--green);
}
.link-list {
  width: 100%;
}

.profile-pic {
  width: 128px;
  height: 128px;
  object-fit: fill;
  border-radius: 50%;
}
button {
  display: inline-block;
  width: 90%;
  padding: 13px 5px;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: var(--grey700);
  color: white;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: var(--green);
  color: var(--grey800);
}
button:focus {
  background-color: var(--green);
  color: var(--grey800);
}
.intro-phrase {
  font-size: 0.8rem;
  font-weight: 400;
}
